{
    "presets": [["@babel/preset-env",
        {
            "targets": {
              "node": "current",
              "chrome": 52,
              "browsers": ["last 2 versions", "safari 7"]
            }
        }],
        "@babel/preset-react"]
    // "plugins": ["transform-runtime"]
}